.App {
  display: flex;
  height: 100vh;
}


.app {
  display: flex;
  justify-content: space-between;
}

.chat-container {
  flex-grow: 1;
}

.message-list {
  overflow-y: auto;
  height: 400px;
}

.chat-input input {
  width: 80%;
  padding: 10px;
}

.chat-input button {
  width: 20%;
  padding: 10px;
}



.body{
  font-family: "Source Sans 3 VF",sans-serif;
}