.chat_section{
    margin-top: auto;
}

.chat_input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4;

}

.chat_input_field{
    width: 80%;
}

.send_button{
    width: 10%;
}

.file_input{
    display: flex;
}

.file_input_field{
    width: 100%;
}